---
layout: page
title: Blog Archive
---

<h1>Archive</h1>
<ul class="post-list no-bullets">
  {% for post in site.posts reverse %}

    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% unless year == this_year %}
      {% assign year = this_year %}
      <h2>{{ year }}</h2>
    {% endunless %}

    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <div class="date">{{ post.date | date_to_string }}</div>
    </li>
  {% endfor %}
</ul>


<table class="posts">
{% for post in site.posts reverse %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% unless year == this_year %}
      <tr>
        <td colspan="2">
          {% assign year = this_year %}
          <h2>{{ year }}</h2>
        </td>
      </tr>
    {% endunless %}

    <tr>
      <td class="hide-for-small">
        {{ post.date | date_to_string }}
      </td>
      <td>
        <span class="posts-divider">&raquo;</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </td>
    </tr>
{% endfor %}
</table>
