
.logo {
  width: 200px;
}

.header {
  margin-top: 1rem;
  text-align: center;
}

.section {
  padding: 4rem 0;

  @media screen and (max-width: 48em) {
    padding: 3rem 0;
  }
}

.section:nth-of-type(even) {
  // background-color: rgba(53, 73, 93, 0.03);
}

.section-container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 2rem;
  padding-right: 2rem;

  max-width: 800px;

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }
  
  li {
    margin-bottom: 0.5rem;
  }

  h4 {
    font-weight: bold;
  }

  &.sales {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1024px;
  }
}

.two-columns {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 48em) {
  .two-columns {
    flex-direction: column;
  }
}

.column {
  flex: 1 1;
}

@media screen and (max-width: 48em) {
  .column + .column {
    margin-top: 1rem;
  }
}


.sales-two-columns {
  display: flex;
  align-items: center;

  @media screen and (max-width: 48em) {
    flex-direction: column;
  }
}

.sales-column {
  width: 55%;
  padding: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  font-size: 90%;

  border-radius: 4px;

  @media screen and (max-width: 48em) {
    width: 100%;
  }
}

.sales-column + .sales-column {
  margin-left: 1rem;

  @media screen and (max-width: 48em) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.hint {
  color: var(--color-gray-light);
  font-style: italic;
  font-size: 0.8rem;
}

.center {
  text-align: center;
}

.mt2 {
  margin-top: 2rem;
}

.m2 {
  margin: 2rem;
}

.ml1 {
  margin-left: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb0 {
  margin-bottom: 0;
}

.bold {
  font-weight :bold;
}

.payment {
  // margin: 3rem 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.button.hero {
  font-size: 110%;
  padding: 1rem;
  margin-bottom: 0.5rem;

  &.green {
    background-color: #41b883;
    border-color: #41b883;
  }

  &.gray {
    background-color: #eaeaea;
    border-color: #eaeaea;
    color: #555;
  }
}

.stack {
  width: 220px;
  height: 220px;
  position: relative;
}

.stack img {
  position: absolute;
}

.with-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.br2 {
  border-radius: 2px;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  margin-bottom: 2rem;
}
