@import "modules/blockquote";
@import "modules/footer";
@import "modules/post_list";
@import "modules/post";
@import "modules/prism";
@import "modules/project_list";
@import "modules/share_menu";
@import "modules/syntax";
@import "pages/book";

:root {
  --color-gray-lighter: #f2f2f2;
  --border-color: var(--color-gray-lighter);
  --font-family-base: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  --font-weight-base: 400;
  --line-height-base: 1.6;

  --font-size-h1: 2.827rem;
  --font-size-h2: 1.999rem;
  --font-size-h3: 1.414rem;
  --font-size-h4: 1rem;
  --font-size-h5: 1rem;
  
  --margin-bottom-sm: 0.8rem;
  --margin-bottom: 1.6rem;
  --space-2: 2rem;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 1rem;
  }
}

hr {
  border: 1px solid var(--color-gray-lighter);
  margin: 2.5em 0 2.4em;
}

.no-bullets {
  list-style-type: none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  @media only screen and (max-width: 1024px) {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }
}

nav {
  display: flex;  
  align-items: center;
  position: relative;

  max-width: 48em;
  margin-left: auto;
  margin-right: auto;

  padding: var(--space-1);

  @media only screen and (min-width: 1024px) {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }

  .title {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 40px;
      border-radius: 3px;
    }
    
    .meta {
      display: flex;
      flex-direction: column;
    }
  }

  .menu {
    width: 100%;
    text-align: right;

    margin: 0;
    padding: 0;
    margin-left: auto;

    list-style: none;

    > li {
      display: inline-block;
      margin-left: 1em;
      text-transform: uppercase;
      font-size: 90%;

      a {
        color: var(--color-black);
      }
    }
  }
}

.main-content {
  width: 100%;
  max-width: 48em;
  margin-top: calc(50px + 3rem);
  margin-left: auto;
  margin-right: auto;

  padding: 0 var(--space-1);
  overflow: hidden;
}

.profile-image {
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
  img {
    border-radius: 4px;
  }
}

.book-cover {
  width: 200px;
  border: 1px solid var(--color-black);
}
