@charset "UTF-8";
blockquote {
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
  border-right: 10px solid transparent;
  margin: 1.5em -2.5em 1.5em -2.5em;
  padding: 2em 2em;
  quotes: "“" "”" "‘" "’"; }
  blockquote:before, blockquote:after {
    color: #ccc;
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.4em; }
  blockquote:before {
    content: open-quote;
    margin-right: 0.1em; }
  blockquote:after {
    content: close-quote;
    margin-left: 0.1em; }
  blockquote p {
    display: inline; }

footer {
  text-align: center;
  border-top: 1px solid var(--border-color);
  padding: var(--space-1); }

.post-list {
  padding: 0; }
  .post-list > li {
    margin-bottom: var(--space-1); }
    .post-list > li a {
      display: block; }
    .post-list > li .date {
      color: #B5B5B5; }

.post .subheader {
  color: var(--color-gray-light);
  margin-bottom: var(--space-1_5); }
.post p::selection, .post ul::selection, .post ol::selection {
  background: #BCDAE4; }
.post p::-moz-selection, .post ul::-moz-selection, .post ol::-moz-selection {
  background: #BCDAE4; }
.post p > code, .post ul > code, .post ol > code {
  font-family: "Source Code Pro", Consolas, monospace;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 3px 4px;
  border-radius: 4px; }
.post figure,
.post .centered-image {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .post figure img,
  .post .centered-image img {
    max-width: 100%;
    height: auto; }
  .post figure figcaption,
  .post figure p,
  .post .centered-image figcaption,
  .post .centered-image p {
    margin-top: 5px;
    text-align: center;
    font-style: italic; }
  .post figure.shadow img,
  .post .centered-image.shadow img {
    box-shadow: 2px 2px 9px 2px #c7c7c7; }
  .post figure.full-size,
  .post .centered-image.full-size {
    margin-left: 0;
    margin-right: 0; }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  background-color: #fff;
  border: none;
  color: #555;
  font-family: "Source Code Pro", Consolas, monospace;
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 300;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

.project-list {
  padding: 0;
  margin-left: -20px;
  margin-right: -20px; }
  .project-list > li {
    padding: 20px; }
    .project-list > li:last-child {
      border: none; }
    .project-list > li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .project-list > li a {
      display: block; }
      .project-list > li a img {
        float: left;
        width: 120px;
        margin-right: 20px; }
    .project-list > li:hover {
      background-color: #f6f6f6; }

.share-menu {
  display: inline-block;
  text-align: right;
  list-style: none;
  margin-left: 0;
  padding: 0; }
  .share-menu > li {
    display: inline-block;
    vertical-align: middle;
    line-height: 0; }
    .share-menu > li > a {
      padding: 5px;
      display: block; }
      .share-menu > li > a:hover {
        background-color: #F4F4F4; }
    .share-menu > li .svg-icon {
      width: 24px;
      height: 24px; }
    .share-menu > li .svg-icon-twitter {
      fill: #55acee; }
    .share-menu > li .svg-icon-facebook {
      fill: #3b5998; }
    .share-menu > li .svg-icon-google {
      fill: #dd4b39; }

pre {
  margin-bottom: var(--space-2); }

pre[data-line] {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

.logo {
  width: 200px; }

.header {
  margin-top: 1rem;
  text-align: center; }

.section {
  padding: 4rem 0; }
  @media screen and (max-width: 48em) {
    .section {
      padding: 3rem 0; } }

.section-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 800px; }
  .section-container h2 {
    margin-bottom: 1em;
    text-align: center; }
  .section-container li {
    margin-bottom: 0.5rem; }
  .section-container h4 {
    font-weight: bold; }
  .section-container.sales {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1024px; }

.two-columns {
  display: flex;
  align-items: center; }

@media screen and (max-width: 48em) {
  .two-columns {
    flex-direction: column; } }
.column {
  flex: 1 1; }

@media screen and (max-width: 48em) {
  .column + .column {
    margin-top: 1rem; } }
.sales-two-columns {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 48em) {
    .sales-two-columns {
      flex-direction: column; } }

.sales-column {
  width: 55%;
  padding: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 90%;
  border-radius: 4px; }
  @media screen and (max-width: 48em) {
    .sales-column {
      width: 100%; } }

.sales-column + .sales-column {
  margin-left: 1rem; }
  @media screen and (max-width: 48em) {
    .sales-column + .sales-column {
      margin-left: 0;
      margin-top: 2rem; } }

.hint {
  color: var(--color-gray-light);
  font-style: italic;
  font-size: 0.8rem; }

.center {
  text-align: center; }

.mt2 {
  margin-top: 2rem; }

.m2 {
  margin: 2rem; }

.ml1 {
  margin-left: 1rem; }

.mb2 {
  margin-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem; }

.mb0 {
  margin-bottom: 0; }

.bold {
  font-weight: bold; }

.payment {
  text-align: center;
  display: flex;
  flex-direction: column; }

.button.hero {
  font-size: 110%;
  padding: 1rem;
  margin-bottom: 0.5rem; }
  .button.hero.green {
    background-color: #41b883;
    border-color: #41b883; }
  .button.hero.gray {
    background-color: #eaeaea;
    border-color: #eaeaea;
    color: #555; }

.stack {
  width: 220px;
  height: 220px;
  position: relative; }

.stack img {
  position: absolute; }

.with-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

.br2 {
  border-radius: 2px; }

.avatar {
  text-align: center; }

.avatar img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem; }

:root {
  --color-gray-lighter: #f2f2f2;
  --border-color: var(--color-gray-lighter);
  --font-family-base: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  --font-weight-base: 400;
  --line-height-base: 1.6;
  --font-size-h1: 2.827rem;
  --font-size-h2: 1.999rem;
  --font-size-h3: 1.414rem;
  --font-size-h4: 1rem;
  --font-size-h5: 1rem;
  --margin-bottom-sm: 0.8rem;
  --margin-bottom: 1.6rem;
  --space-2: 2rem; }

@media only screen and (max-width: 640px) {
  html {
    font-size: 1rem; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--margin-bottom-sm); }

hr {
  border: 1px solid var(--color-gray-lighter);
  margin: 2.5em 0 2.4em; }

.no-bullets {
  list-style-type: none; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  @media only screen and (max-width: 1024px) {
    .fixed {
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 1px var(--border-color); } }

nav {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-1); }
  @media only screen and (min-width: 1024px) {
    nav {
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 1px var(--border-color); } }
  nav .title {
    display: flex;
    align-items: center; }
    nav .title img {
      width: auto;
      height: 40px;
      border-radius: 3px; }
    nav .title .meta {
      display: flex;
      flex-direction: column; }
  nav .menu {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none; }
    nav .menu > li {
      display: inline-block;
      margin-left: 1em;
      text-transform: uppercase;
      font-size: 90%; }
      nav .menu > li a {
        color: var(--color-black); }

.main-content {
  width: 100%;
  max-width: 48em;
  margin-top: calc(50px + 3rem);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-1);
  overflow: hidden; }

.profile-image {
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem; }
  .profile-image img {
    border-radius: 4px; }

.book-cover {
  width: 200px;
  border: 1px solid var(--color-black); }
