blockquote {
  background-color: #f9f9f9;

  border-left: 10px solid #ccc;
  border-right: 10px solid transparent;

  margin: 1.5em -2.5em 1.5em -2.5em;
  padding: 2em 2em;

  quotes: "\201C""\201D""\2018""\2019";

  &:before, &:after {
    color: #ccc;

    font-size: 3em;
    line-height: 0.1em;

    vertical-align: -0.4em;
  }

  &:before {
    content: open-quote;
    margin-right: 0.1em;

  }

  &:after {
    content: close-quote;
    margin-left: 0.1em;
  }

  p {
    display: inline;
  }
}


