.related-posts {
  margin-top: 40px;

  background-color: #fafafa;
  padding-top: 1.42857em;
  border-top: 1px solid darken($topbar-bg, 5%);

  .posts {
    list-style-type: none;
    padding: 0;

    > li {
      margin-bottom: 10px;

      a {
        display: block;
      }

      .date {
        color: #B5B5B5;
        font-weight: 100;
      }
    }

  }
}