code[class*="language-"],
pre[class*="language-"] {

  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 20px;

  font-weight: normal;
  font-style: normal;
}

pre[data-line] {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

code {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

code {
  color: #444;
  font-family: courier
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: rgb(143, 46, 100);
}

