.top-bar {
  margin-bottom: 0;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 1px darken($topbar-bg, 5%);

  .centered-title {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 4px;
    height: 45px;
    width: 150px;

    color: $body-font-color;
    font-family: $header-font-family;
    font-size: 0.9em;
    line-height: 1.3em;
    font-weight: 300;

    img {
      border-radius: 3px;
      margin: 6px 5px 5px 5px;
      float: left;
    }

    .secondary {
      color: #CCC;
      margin-top: 5px;
    }

    .primary {
      margin-top: -1px;
    }

  }

  .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0px 0 1px $body-font-color, 0 7px 0 1px $body-font-color, 0 14px 0 1px $body-font-color;
  }

  .menu {
    font-family: $header-font-family;
    background: #FFF;
    padding: 0;

    > li {
      border-bottom: 1px solid darken($topbar-bg, 5%);

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        > a {
          background: #EFEFEF;
        }
      }

      > a {
        background: #FFF;
      }

    }
  }
}
