$selection-color: #BCDAE4;

.post {
  .subheader {
    color: var(--color-gray-light);
    margin-bottom: var(--space-1_5);
  }

  p, ul, ol {
    &::selection {
      background: $selection-color;
    }

    &::-moz-selection {
      background: $selection-color;
    }

    > code {
      font-family: "Source Code Pro", Consolas, monospace;
      font-weight: 300;
      font-size: 0.9rem;

      padding: 3px 4px;
      border-radius: 4px;
    }
  }

  figure,
  .centered-image {
    margin-top: 3em;
    margin-bottom: 3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      max-width: 100%;
      height: auto;
    }

    figcaption,
    p {
      margin-top: 5px;
      text-align: center;
      font-style: italic;
    }

    &.shadow {
      img {
        box-shadow: 2px 2px 9px 2px rgba(199,199,199,1);
      }
    }

    &.full-size {
      margin-left: 0;
      margin-right: 0;
    }

  }
}
