//= require normalize
//= require prism

@import "foundation_overrides";
@import "foundation";

@import "modules/share_menu";
@import "modules/syntax";
@import "modules/top_bar";
@import "modules/post";

@import "pages/about";

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1.19px;
}

.main-content {
  margin-top: 50px;
}

.row {
  max-width: 48em;
}

ol, ul {
  padding-left: 40px;
}

// .author {
//   font-size: 0.7em;
// }

footer {
  color: $body-font-color;
  font-family: $header-font-family;
}

.no-bullets {
  list-style-type: none;
}