//= require prism

@import "base/normalize";

@import "foundation_overrides";
@import "foundation";

@import "modules/share_menu";
@import "modules/syntax";
@import "modules/top_bar";
@import "modules/post";
@import "modules/footer";
@import "modules/related_posts";
@import "modules/post_list";
@import "modules/blockquote";
@import "modules/project_list";

@import "pages/about";

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1.19px;
}

.main-content {
  margin-top: 50px;
}

.row {
  max-width: 48em;
}

hr {
  border: 1px solid #f2f2f2;
  margin: 2.5em 0 2.4em;
}

footer {
  color: $body-font-color;
}

.no-bullets {
  list-style-type: none;
}