<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Frederik Dietz" />
    <meta keywords="ruby, ruby on rails, javascript, angular.js, angularjs, recipes with angular.js">
    <meta name="description" content="fdietz.github.io">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link href="http://feeds.feedburner.com/fdietz" rel="alternate" title="Frederik Dietz" type="application/atom+xml" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

    {% stylesheet heki.min %}
    {% stylesheet application %}
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar">
        <a href="/" class="title">
          <img src="{% asset_path profile_small.jpg %}" width="30px" height="30px" alt="profile" class="avatar">
          Frederik Dietz
        </a>
        <a href="#" toggle-topbar menu-icon><span></span></a>
  
        <ul class="menu">
          <li><a href="/archive.html">archive</a></li>
          <li><a href="/projects.html">projects</a></li>
          <li><a href="/books.html">books</a></li>
          <li><a href="/about.html">about</a></li>
        </ul>
      </nav>
    </div>

    {{ content }}

    <footer>
      Copyright 2015 Frederik Dietz
      |
      <a href="http://feeds.feedburner.com/fdietz"> RSS </a>
      |
      <a href="http://twitter.com/fdietz/">@fdietz</a>
    </footer>

    {% javascript application %}
    <script>
      $(document).foundation();
    </script>

    <!-- Google Analytics -->
    <script>
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
    var pageTracker = _gat._getTracker("UA-24857075-1");
    pageTracker._trackPageview();
    </script>
    <!-- Google Analytics end -->

    <!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

  </body>
</html>
